<header>
  <h1>CrowdCompass Timesheets</h1>
  <h2>{{currentDateRange}}</h2>
</header>

<form class="entry" {{action "addNewActivity" on="submit"}}>
  <input type="text" name="time" placeholder="H:MM" />

  <select name="day">
    <option></option>
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select>

  <select name="type">
    <option></option>
    {{#each group in availableOptions}}
      <optgroup {{bind-attr label="group.label"}}>
        {{#each option in group.options}}
          <option {{bind-attr value="option.value"}}>{{option.name}}</option>
        {{/each}}
      </optgroup>
    {{/each}}
  </select>

  <button type="submit">Add</button>
</form>

{{#if activityGroups}}
  <section class="entries">
    <ul>
      {{#each group in activityGroups}}
        <li>
          <h3>{{group.name}}</h3>
          <ul>
            {{#each entry in group.entries}}
              <li>{{entry.hours}} - {{entry.name}}</li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </section>
{{/if}}
