<header>
  <h1>CrowdCompass Timesheets</h1>
  <h2>
    <span class="nav-button left" {{action "goToPreviousWeek"}}>Previous Week</span>
    {{currentDateRange}}
    <span class="nav-button right" {{action "goToNextWeek"}}>Next Week</span>
  </h2>
</header>

{{#if canSubmit}}
<form class="entry" {{action "addNewActivity" on="submit"}}>
  <input type="text" name="time" placeholder="H:MM" />

  <select name="day">
    <option></option>
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option>
  </select>

  <select name="type">
    <option></option>
    {{#each group in availableOptions}}
      <optgroup {{bind-attr label="group.label"}}>
        {{#each option in group.options}}
          <option {{bind-attr value="option.value"}}>{{option.name}}</option>
        {{/each}}
      </optgroup>
    {{/each}}
  </select>

  <button type="submit">Add</button>
</form>
{{/if}}

{{! Friends don't let friends skip leg days. }}
<div class="lower-body">
  {{#if hasActions}}
    <section class="actions">
      {{#if canSubmit}}
        <button {{action "submitNewTimesheet"}} class="submit-timesheet">Submit Timesheet</button>
      {{/if}}

      {{#if previousTimesheets}}
        <h4>Older Timesheets</h4>
        <ul>
          {{#each timesheet in previousTimesheets}}
            <li {{action "restoreOlderTimesheet" timesheet}}>{{timesheet.name}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </section>
  {{/if}}

  {{#if activityGroups}}
    <section class="entries">
      <ul>
        {{#each group in activityGroups}}
          <li>
            <h3>{{group.name}}</h3>
            <ul class="group-entries">
              {{#each entry in group.entries}}
                <li>
                  {{#if canSubmit}}
                    <button {{action "removeEntry" group entry}} class="delete"></button>
                  {{/if}}
                  {{entry.hours}} - {{entry.name}}
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}
</div>
